/Clase2/Ejemplo1/nbproject/private/
/Clase2/Ejemplo1/build/
/Clase3/Ejemplo1/nbproject/private/
/Clase3/Ejemplo1/build/
/EjemploProyecto1/nbproject/private/
/EjemploProyecto1/build/
/Clase4/nbproject/private/
/Clase4/build/
/Clase7/Ejemplo1/nbproject/private/
/Clase7/Ejemplo1/build/
/Clase7/Ejemplo2/nbproject/private/
/Clase7/Ejemplo2/build/
/clase8/nbproject/private/
/clase8/build/
